USE [master]
GO
/****** Object:  Database [Matrix]    Script Date: 9/9/2026 08:24:12 ******/
CREATE DATABASE [Matrix]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Matrix', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Matrix.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Matrix_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Matrix_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Matrix].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Matrix]
GO
/****** Object:  User [alumno]    Script Date: 9/9/2026 08:24:12 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Nivel]    Script Date: 9/9/2026 08:24:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nivel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[cantidad de completaciones] [int] NOT NULL,
 CONSTRAINT [PK_Nivel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 9/9/2026 08:24:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[salida] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario | nivel]    Script Date: 9/9/2026 08:24:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario | nivel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID usuario] [int] NOT NULL,
	[ID nivel] [int] NOT NULL,
 CONSTRAINT [PK_usuario | nivel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Nivel] ON 

INSERT [dbo].[Nivel] ([ID], [nombre], [cantidad de completaciones]) VALUES (1, N'sala1', 0)
INSERT [dbo].[Nivel] ([ID], [nombre], [cantidad de completaciones]) VALUES (2, N'sala2', 0)
INSERT [dbo].[Nivel] ([ID], [nombre], [cantidad de completaciones]) VALUES (3, N'sala3', 0)
SET IDENTITY_INSERT [dbo].[Nivel] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID], [nombre], [contraseña], [salida]) VALUES (2, N'123', N'12345678', 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario | nivel] ON 

INSERT [dbo].[usuario | nivel] ([ID], [ID usuario], [ID nivel]) VALUES (2, 2, 1)
INSERT [dbo].[usuario | nivel] ([ID], [ID usuario], [ID nivel]) VALUES (3, 2, 2)
INSERT [dbo].[usuario | nivel] ([ID], [ID usuario], [ID nivel]) VALUES (4, 2, 3)
SET IDENTITY_INSERT [dbo].[usuario | nivel] OFF
GO
ALTER TABLE [dbo].[usuario | nivel]  WITH CHECK ADD  CONSTRAINT [FK_usuario | nivel_Nivel] FOREIGN KEY([ID nivel])
REFERENCES [dbo].[Nivel] ([ID])
GO
ALTER TABLE [dbo].[usuario | nivel] CHECK CONSTRAINT [FK_usuario | nivel_Nivel]
GO
ALTER TABLE [dbo].[usuario | nivel]  WITH CHECK ADD  CONSTRAINT [FK_usuario | nivel_Usuario] FOREIGN KEY([ID usuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[usuario | nivel] CHECK CONSTRAINT [FK_usuario | nivel_Usuario]
GO
USE [master]
GO
